:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 10px;
  margin-left: 0;
  background-color: rgba(49, 52, 61, 1);
  align-items: center;
  justify-content: space-around;
}

header h1 {
  margin: 0;
  margin-right: auto;
  background-color: rgba(146, 204, 206, 1);
  color: rgba(68, 88, 119, 1);
  display: inline;
  padding: 10px 20px;
  position: relative;
  left: -20px;
  padding-left: 100px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: flex-end;
  text-align: left;
  padding: 10px;
  margin-left: auto;
}

nav a {
  color: rgba(146, 204, 206, 1);
  text-decoration: underline;
  padding-right: 20px;
  font-size: 2rem;
}
/* h2 is all of my side margain headers */

h2 {
  display: flex;
  justify-content: end;
  color: rgba(68, 88, 119, 1);
  padding: 20px;
  margin: 20px;
  text-align: right;
  border-right: 3px solid rgba(68, 88, 119, 1);
  font-size: 3em;
  flex: 0 0 20%;
  width: 20%;
  padding-right: 2%;
}

/* Aside section is for the content inside of the h2 */

.section-content {
  width: 80%;
  margin: 0;
}

a {
  color: var(--primary);
}

#links ul {
  font-size: 200%;
  color: rgba(68, 88, 119, 1);
  height: 200px;
  justify-content: space-around;
}
/* Container is the outside of h2 */

.container {
  display: flex;
}

/* Plank sections are for the fencing background and "quick bio" */

#about-me-paragraph {
  //background-color: blue;
  color: rgba(68, 88, 119, 1);
  text-align: left;
  display: flex;
  padding-top: 2%;
  width: 80%;
}

#plank {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: url(../Portfolio/imgs/02-hero-bg.jpg);
}

#plank a {
  color: rgba(68, 88, 119, 1);
  background-color: rgba(146, 204, 206, 1);
  text-align: end;
  position: absolute;
  right: 20px;
  top: 250px;
  padding: 7px;
  font-size: 2rem;
}
